* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Julius Sans One;
}

header {
    background-color: rgba(234, 234, 234, 28%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 800px;
    height: 50px;
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;  
}

li {
    margin-top: 13px;
    font-size: 18px;

}
ul a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

ul a::after {
    content: '';
    display: block;
    width: 0;
    height: 1.3px;
    background: #000;
    transition: width .3s;
}

a:hover::after {
    width: 100%;
}

#banner {
    background-image: url(./img/Vector.png);
    background-size: 100%;
    height: 500px;
}

#description {
    margin-left: 8%;
    width: 430px;
    margin-top: 30px;
}

#description h1 {
    font-weight: 400;
    font-size: 55px;
}

#description p {
    margin-top: 20px;
    color: white;
}

#front {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#front img {
    width: 330px;
    margin-top: 68px;
    margin-right: 10%;
}

#container {
    margin: 70px auto;
    max-width: 90%;
    
}

#container .title {
    text-align: center;
}


.border-left {
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 10px 0px 0px 10px;
}

.border-right {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px 10px 10px 0px;
}

#habilidades {
    max-width: 50%;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
}

#habilidades h2 {
    font-weight: bold;
    border-left: 1px solid black;
    padding-left: 10px;
}

#habilidades #border-none {
    border-left: 0px;
}

#projetos-container {
    display: flex;
    justify-content: space-around;
}

.projetos-banner {
    background-color: rgb(0, 0, 0,78%);
    border-radius: 22px;
    color: white;
    margin: 90px auto;
    text-align: center;
    width: 238px;
    height: 296px;
}

.projetos-banner img {
    margin-top: 7px;
}

.projetos-banner img:hover {
   transform: scale(0.9);
   transition: 0.3s;
}

.projetos-banner h3 {
    margin-top: 15px;
    font-size: 15px;
}

.projetos-banner p{
    font-size: 10px;
    max-width: 75%;
    text-align: justify;
    margin: 15px auto;
}

.projetos-banner button {
    width: 98px;
    height: 25px;
    background-color: rgb(217, 217, 217, 48%);
    border-radius: 30px;
    border: none;
    color: white;
    margin-top: 10px;
}

.projetos-banner button:hover {
    background-color: rgba(240, 240, 240, 0.847);
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}


footer {
    background-color: rgb(0, 0, 0,89%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}

footer img {
    margin: 30px 0px 0px 80px;
    width: 35px;
    height: 35px;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a{
    margin-left: 10px;
}

@media screen and (max-width:1195px) {
   #habilidades{
    max-width: 70%;
   }
}

@media screen and (max-width:1077px) {

    header {
        width: 700px;
        height: 50px;
        margin: auto;
    }

    #front img {
        width: 300px;
        margin-top: 8%;
        margin-right: 10%;
    }

    #banner {
        background-size: 100%;
        height: 50%;
    }

    #description h1 {
        font-size: 50px;
    }

    #description p {
        font-size: 15px;
    }

    footer img {
        margin: 30px 0px 0px 80px;
        width: 30px;
        height: 34px;
        padding-top: 15px;
    }
 }

 @media screen and (max-width:1045px) {

    header {
        width: 650px;
        height: 50px;
        margin: auto;
    }

    #front img {
        width: 270px;
        margin-top: 8%;
        margin-right: 10%;
    }

    .border-left {
        font-size: 16px;
    }

    .border-right {
        font-size: 16px;
    }

    #habilidades h2 {
       font-size: 20px;
    }

    .projetos-banner {
        width: 210px;
        height: 280px;
    }

    .projetos-banner img {
        width: 195px;
    }

    .projetos-banner h3 {
        font-size: 13px;
    }

    .projetos-banner button {
        width: 90px;
        height: 25px;
        font-size: 12px;
    }

    footer {
        width: 100%;
        height: 35vh;
    }

 }

    @media screen and (max-width: 945px){

        #front img {
            width: 250px;
        }

        #description h1 {
            font-size: 40px;
        }

        #description p {
            font-size: 12px;
        }
    }

    @media screen and (max-width:885px){
        #front img {
            width: 240px;
        }

        header {
            width: 640px;
            height: 40px;
        }

        li {
            margin-top: 12px;
            font-size: 16px;
        }
    }

    @media screen and (max-width:821px){

        header {
            width: 600px;
            height: 40px;
        }

        #front img {
            width: 25%;
        }

        #description h1 {
            font-size: 35px;
        }

        #description p {
            font-size: 10px;
        }

        .projetos-banner {
            width: 190px;
            height: 270px;
        }

        .projetos-banner img {
            width: 180px;
        }

        footer img {
            margin: 30px 0px 0px 80px;
            width: 27px;
            height: 32px;
            padding-top: 15px;
        }

        footer {
            width: 100%;
            height: 20vh;
        }
    }
    
    @media screen and (max-width:720px) {
        header {
            width: 500px;
        }

        .border-left,
        .border-right {
            font-size: 14px;
        }

        #habilidades h2 {
            font-size: 17px;
        }

        .projetos-banner {
            width: 170px;
            height: 250px;
        }

        .projetos-banner img {
            width: 160px;
        }

        .projetos-banner h3 {
            font-size: 12px;
        }

        .projetos-banner p {
            font-size: 9px;
        }

        .projetos-banner button {
            width: 85px;
            height: 20px;
            font-size: 11px;
        }

        footer img {
            width: 25px;
            height: 30px;
        }

        footer a {
           font-size: 12px;
        }
    }

    @media screen and (max-width:540px){
        header {
            display: none;
        }

        #description h1 {
            font-size: 30px;
        }

        #description p {
            font-size: 8px;
        }

        .border-left, .border-right {
            font-size: 13px;
        }

        #habilidades {
            max-width: 80%;
        }

        #habilidades h2 {
            font-size: 15px;
        }

        #projetos-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
        }

        .projetos-banner {
            width: 260px;
            height: 300px;
            margin: 20px auto;
        }

        .projetos-banner img {
            width: 245px;
        }

        .projetos-banner p {
            font-size: 10px;
        }
        .projetos-banner button {
            width: 90px;
            height: 25px;
            font-size: 13px;
        }

        footer {
            width: 100%;
            height: 30vh;
        }

    }

    @media screen and (max-width:430px) {
        #description h1 {
            font-size: 25px;
        }

        #description p {
            font-size: 7px;
        }

        .border-left, .border-right {
            font-size: 12px;
        }

        #habilidades h2 {
            font-size: 12px;
        }
    }

    @media screen and (max-width:414px) {
        #habilidades h2 {
            font-size: 10px;
        }
    }

    @media screen and (max-width:370px) {
        #description h1 {
            font-size: 20px;
        }

        #description p {
            font-size: 6px;
        }

        .border-left, .border-right {
            font-size: 10px;
        }

        #habilidades h2 {
            font-size: 8px;
        }

        .projetos-banner {
            width: 250px;
            height: 310px;
            margin: 20px auto;
        }

        .projetos-banner img {
            width: 235px;
        }
    }






